Django==6.1.1
channels>=4.2,<5
daphne>=4.2,<5
whitenoise>=6.8,<7
python-dotenv==1.1.1
django-allauth==65.11.2
requests==2.32.5
PyJWT==2.10.1
cryptography==46.0.2
dj-database-url==2.3.0
psycopg[binary]==3.2.10
djangorestframework==3.18.1
django-cors-headers==4.4.0
